/* your custom css */

#footer {
    background: black;
}

.fixedHeaderContainer {
    top: 65px;
}

.globalHeader {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    z-index: 10001;
}

ep-site-header {
    max-width: 1440px;
    margin: auto;
}

.anchor {
    top: -145px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (max-width: 1488px) {
    .globalHeader {
        height: 90px;
    }
    .fixedHeaderContainer {
        top: 90px;
    }
}

@media only screen and (min-width: 1024px) {

    .docMainWrapper .docsNavContainer {
        top: 115px;
    }

    .docMainWrapper .onPageNav {
        top: 145px;
    }

    .navPusher {
        top: 65px;
    }

}

@media only screen and (max-width: 1023px) {
    .onPageNav, .docMainWrapper {
        margin-top: 90px;
    }

    #docsNav .toc .toggleNav .navWrapper .navGroups {
        padding-bottom: 112px;
    }

}

@media only screen and (max-width: 922px) {
    .globalHeader {
        height: 45px;
    }
    
    .fixedHeaderContainer {
        top: 45px;
    }

    .onPageNav, .docMainWrapper {
        margin-top: 45px;
    }

    .anchor {
        top: -215px;
    }
}

@media only screen and (max-width: 450px) {
    .fixedHeaderContainer header .headerTitle {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 320px) {
    .fixedHeaderContainer header .headerTitle {
        display: none;
    }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
